<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">
 <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
   
   <ul>
    
       <li>
        <li class="righty"><a href="/addcustomer">Add Customer</a></li>    
       <li class="righty"><a href="/sendmoney">Send Money</a></li>
       <li class="righty"><a href="/viewdetails/?email=">Details</a></li>
       <li class="righty"><a href="/transactionhistory">Transaction History</a>
       <li class="righty"><a href="/viewAllCustomers">View All Customers</a>
       <li class="righty"><a href="/">Home</a>
       </li>

   
   </ul>
    
</body>
</html>